<section>
  <h1>Desvendando a mega-sena com <span class="primary-text">loteria sem segredo</span></h1>
  <div class="container">
    <div class="content">
      <img class="book-image" src="/assets/images/Mockup--livro-loteria-sem-segredo.webp" alt="">
      <div class="writer-info">
        <div class="content-title">
          <span class="info-text info-title">Loteria sem segredo</span>
          <span class="info-text info-title">vol. 1 - A matemática explica</span>
        </div>
        <img class="info-image" src="/assets/images/sr.adalberto-mockup.webp" alt="Escritor">
        <div class="writer-container">
          <span class="writer-text-1">Professor</span>
          <span class="writer-text-2 primary-text">Adalberto Benevides Júnior</span>
        </div>
        <span class="info-text info-footer">"Vamos democratizar a sorte, tornando-a menos aleatória e mais inteligente"</span>
      </div>
    </div>
    <div class="footer">
      <span class="footer-text">Para adquirir seu livro, clique em uma das plataformas abaixo.</span>
      <div class="logos">
        <a class="amazon" target="_blank" href="https://www.amazon.com.br/Loteria-Sem-Segredo-Matem%C3%A1tica-Explica/dp/6500576675"><img src="/assets/images/amazon.webp" alt="logo amazon"></a>
        <a class="americanas" target="_blank" href="https://www.americanas.com.br/produto/7306101728/loteria-sem-segredo?pfm_carac=os-segredos-das-loterias&pfm_index=2&pfm_page=search&pfm_pos=grid&pfm_type=search_page&offerId=649fd6e4579fbc8d91035845"><img src="/assets/images/americanas.webp" alt="logo americanas"></a>
        <a class="shopee" target="_blank" href="https://shopee.com.br/Livro-Loteria-Sem-Segredo-A-Matem%C3%A1tica-Explica-Vol.-1-Mega-Sena-Adalberto-Benevides-J%C3%BAnior-(Abrindo-o-Jogo-Pra-voc%C3%AA-ter-um-novo-olhar-sobre-os-resultados-da-Mega-Sena)-i.318081052.22196935181"><img src="/assets/images/shoppe.webp" alt="logo shopee"></a>
        <a class="clube" target="_blank" href="https://clubedeautores.com.br/books/search?where=books&what=Loteria+sem+segredo+"><img src="/assets/images/clube-de-livros.webp" alt="logo clube de autores"></a>
        <a class="barnes" target="_blank" href="https://www.barnesandnoble.com/w/loteria-sem-segredo-adalberto-benevides-junior/1142871004"><img src="/assets/images/barnes.webp" alt="logo barnes e noble"></a>
        <a class="estante" target="_blank" href="https://www.estantevirtual.com.br/busca?utf8=%E2%9C%93&q=Loteria%20Sem%20Segredo%20Adalberto%20Benevides%20J%C3%BAnior"><img src="/assets/images/estante-virtual.webp" alt="logo estante virtual"></a>
        <a class="shoptime" target="_blank" href="https://www.shoptime.com.br/produto/7306101728/loteria-sem-segredo"><img src="/assets/images/shoptime.webp" alt="logo shoptime"></a>
      </div>
    </div>
  </div>
</section>
